<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bubenheimer.fgsvcbpbug">

    <application
        android:name=".App">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FGService"
            android:process=":extprocess"
            />
        <service
            android:name=".BoundService"
            android:process=":extprocess"
            />
    </application>
</manifest>
